[submodule "mimir-token"]
	path = mimir-token
	url = git@github.com:Mimir-Solutions/mimir-token.git
[submodule "mimir-solutions-site"]
	path = mimir-solutions-site
	url = git@github.com:Mimir-Solutions/mimir-solutions-site.git
